/teste/API/.vs/API/v17
teste/API/.vs/API/v17/DocumentLayout.json
teste/API/api/.vs/ProjectEvaluation/api.projects.v9.bin
teste/API/api/.vs/ProjectEvaluation/api.projects.v9.bin
teste/API/api/.vs/ProjectEvaluation/api.strings.v9.bin
teste/API/api/.vs/api/v17/DocumentLayout.json
teste/API/api/.vs/api/v17/.suo
teste/API/api/.vs/api/v17/.futdcache.v2
teste/API/api/.vs/api/DesignTimeBuild/.dtbcache.v2
teste/API/.vs/VSWorkspaceState.json
teste/API/.vs/slnx.sqlite
teste/API/.vs/API/v17/.wsuo
teste/API/api/api/obj/API.csproj.nuget.dgspec.json
teste/API/api/api/obj/project.assets.json
teste/API/api/api/obj/Debug/net8.0/api.sourcelink.json
teste/API/api/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
teste/API/api/api/obj/Debug/net8.0/api.AssemblyInfo.cs
teste/API/api/api/obj/API.csproj.nuget.dgspec.json
teste/API/api/api/.vs/api/v17/DocumentLayout.json
teste/API/api/.vs/api/v17/DocumentLayout.json
teste/API/.vs/VSWorkspaceState.json
teste/API/.vs/slnx.sqlite
teste/API/.vs/API/v17/DocumentLayout.json
teste/API/.vs/API/v17/.wsuo


# Ignorar arquivos específicos dentro das pastas que apareceram no erro
API/.vs/API/v17/*
API/api/.vs/api/v17/*
API/api/.vs/api/DesignTimeBuild/*
API/api/.vs/api/ProjectEvaluation/*.bin

# Ignorar diretórios de build do .NET
API/api/bin/
API/api/obj/
API/api/obj/Debug/
API/api/publish/
API/api/.deploy/
API/api/App_Data/
API/api/obj/Release/

# Ignorar arquivos do NuGet
API/api/*.nuget.dgspec.json
API/api/*.nuget.g.targets
API/api/*.nuget.g.props
API/api/project.assets.json
API/api/project.nuget.cache
API/api/packages/
API/api/NuGet.Config
API/api/NuGet.exe
API/api/NuGetScratch/

# Ignorar arquivos de usuário do Visual Studio
API/API.csproj.user


# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*

# workbench
*.sql
*.sql.bak
*.myd
*.myi
*.frm