# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
/.vs*
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Binários e compilação
bin/
obj/
*.dll
*.exe
*.pdb

# Configurações do Visual Studio
.vscode/
*.user
*.suo
*.cache

# Dependências
packages/
node_modules/


# Ignorar arquivos específicos dentro das pastas que apareceram no erro
API/.vs/API/v17/*
/.vs*
API/api/.vs/api/v17/*
API/api/.vs/api/DesignTimeBuild/*
API/api/.vs/api/ProjectEvaluation/*.bin

# Ignorar diretórios de build do .NET
API/api/publish/
API/api/.deploy/
API/api/App_Data/
API/api/obj/Release/

# Ignorar arquivos de usuário do Visual Studio
API/API.csproj.user


# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*

# workbench
*.sql.bak
*.myd
*.myi
*.frm
*.vsidx
*.dll


/teste/API/.vs/API/v17
teste/API/api/.vs/ProjectEvaluation/api.projects.v9.bin
teste/API/api/.vs/ProjectEvaluation/api.strings.v9.bin
teste/API/api/.vs/api/v17/.suo
teste/API/api/.vs/api/v17/.futdcache.v2
teste/API/api/.vs/api/DesignTimeBuild/.dtbcache.v2
teste/API/api/api/obj/project.assets.json
teste/API/api/api/obj/Debug/net8.0/api.sourcelink.json
teste/API/api/api/.vs/api/v17/DocumentLayout.json
teste/API/api/.vs/api/v17/DocumentLayout.json
teste/API/.vs/VSWorkspaceState.json
teste/API/.vs/slnx.sqlite
teste/API/.vs/API/v17/DocumentLayout.json
teste/API/.vs/API/v17/.wsuo
teste/API/api/.vs/api/v17/DocumentLayout.backup.json
teste/API/api/api/bin/Debug/net8.0/API.dll
teste/API/api/api/bin/Debug/net8.0/API.exe
teste/API/api/api/bin/Debug/net8.0/API.pdb
teste/API/api/api/obj/API.csproj.nuget.dgspec.json
teste/API/api/api/obj/API.csproj.nuget.g.props
teste/API/api/api/obj/Debug/net8.0/api.AssemblyInfo.cs
teste/API/api/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
teste/API/api/api/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
teste/API/api/api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
teste/API/api/api/obj/Debug/net8.0/api.assets.cache
teste/API/api/api/obj/Debug/net8.0/api.dll
teste/API/api/api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
teste/API/api/api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
teste/API/api/api/obj/Debug/net8.0/api.genruntimeconfig.cache
teste/API/api/api/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cs
teste/API/api/api/obj/Debug/net8.0/api.pdb
teste/API/api/api/obj/Debug/net8.0/api.sourcelink.json
teste/API/api/api/obj/Debug/net8.0/apphost.exe
teste/API/api/api/obj/Debug/net8.0/ref/api.dll
teste/API/api/api/obj/Debug/net8.0/refint/api.dll
teste/API/api/api/obj/project.assets.json
teste/API/api/api/obj/project.nuget.cache
