# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local


# Ignorar pastas do Visual Studio
.vs/
API/.vs/
API/api/.vs/

# Ignorar diretórios de build do .NET
API/api/bin/
API/api/obj/
API/api/obj/Debug/
API/api/obj/Release/

# Ignorar arquivos do NuGet
API/api/*.nuget.dgspec.json
API/api/*.nuget.g.targets
API/api/*.nuget.g.props
API/api/project.assets.json
API/api/project.nuget.cache

# Ignorar arquivos de usuário do Visual Studio
API/API.csproj.user

# typescript
*.tsbuildinfo
